# Exploring olympic games dataset

In [4]:
import pandas as pd 

df_summer = pd.read_csv("data/Athletes_summer_games.csv", index_col=0)
df_summer.head()

,Name,Sex,Age,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,A Dijiang,M,24.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,A Lamusi,M,23.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,Gunnar Nielsen Aaby,M,24.0,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,Edgar Lindenau Aabye,M,34.0,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
26,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN

In [6]:
df_summer.shape

(237673, 12)

In [11]:
df_bra = df_summer.query("NOC=='BRA'")
df_bra.shape

(4200, 12)

In [16]:
df_bra_medals = df_bra[df_bra["Medal"].notna()]
df_bra.head()

,Name,Sex,Age,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
665,Alexandre Abeid,M,22.0,Brazil,BRA,1972 Summer,1972,Summer,Munich,Volleyball,Volleyball Men's Volleyball,NaN
666,Alexandre Abeid,M,26.0,Brazil,BRA,1976 Summer,1976,Summer,Montreal,Volleyball,Volleyball Men's Volleyball,NaN
668,Abel Carlos da Silva Braga,M,19.0,Brazil,BRA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN
781,Diana Monteiro Abla,F,21.0,Brazil,BRA,2016 Summer,2016,Summer,Rio de Janeiro,Water Polo,Water Polo Women's Water Polo,NaN
1005,Glauclio Serro Abreu,M,26.0,Brazil,BRA,2004 Summer,2004,Summer,Athina,Boxing,Boxing Men's Middleweight,NaN

In [20]:
df_summer[df_summer["Medal"].notna()].groupby("NOC")["Medal"].count().sort_values(
    ascending=False
)

NOC
USA    5300
GBR    2126
URS    2063
GER    1860
FRA    1768
       ...
MON       1
TKM       1
TOG       1
TGA       1
SUD       1
Name: Medal, Length: 151, dtype: int64

In [21]:
len(df_bra_medals)

530

In [23]:
df_bra_medals.groupby("Name")["Medal"].count().sort_values(ascending=False)

Name
Robert Scheidt                         5
Torben Schmidt Grael                   5
Srgio "Escadinha" Dutra dos Santos     4
Gustavo Frana Borges                   4
Emanuel Fernando Scheffler Rego        3
                                      ..
Adenzia Aparecida Ferreira da Silva    1
rika Cristiano dos Santos              1
nderson Lus de Abreu Oliveira          1
gatha Bednarczuk Rippel                1
dos SANTOS Alison                      1
Name: Medal, Length: 414, dtype: int64