# Python Summary part 1

## Data Types

In [2]:
name = "Arthur"
age = 30 
loves_chess = True

name

'Arthur'

In [3]:
print(name)

Arthur

In [4]:
print(f"My name is {name}, I am {age} years old. Do I love chess: {loves_chess}")

My name is Arthur, I am 30 years old. Do I love chess: True

In [5]:
type(name), type(age), type(loves_chess)

(str, int, bool)

In [6]:
print(type(name), type(age), type(loves_chess))

<class 'str'> <class 'int'> <class 'bool'>

In [7]:
print(f"{type (age) =}")

type (age) =<class 'int'>

## Collection Types
- dictionary   
- list
- tuple
- set

### list

In [8]:
# list of 4 strings
interests = ["guitars", "yoga", "chess", "programming"]

# list of differnet data types
person = ["Arthur", 30, True]

interests

['guitars', 'yoga', 'chess', 'programming']

In [12]:
person

30

In [14]:
type(person[1])

int

In [18]:
person.remove(interests)

['Arthur', 30, True, ['guitars', 'yoga', 'chess', 'programming']]

In [20]:
person

['Arthur', 30, True, ['guitars', 'yoga', 'chess', 'programming']]

### accessing a list

In [22]:
person[0]

'Arthur'

In [23]:
person[-1]

['guitars', 'yoga', 'chess', 'programming']

In [24]:
person[-1][2]

'chess'

### slicing a list

In [26]:
person

['Arthur', 30, True, ['guitars', 'yoga', 'chess', 'programming']]

In [29]:
person[1:3]

[30, True]

In [30]:
person[0:]

['Arthur', 30, True, ['guitars', 'yoga', 'chess', 'programming']]

In [32]:
person[1:]

[30, True, ['guitars', 'yoga', 'chess', 'programming']]

In [34]:
person[::-1]

[['guitars', 'yoga', 'chess', 'programming'], True, 30, 'Arthur']

### Iterating over lists
- for 
- while

In [35]:
# common syntax in other langages
numbers = []
for i in range(10):
    numbers.append(i)
    
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
# list comprehension
numbers = [i for i in range(10)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
# odd numbers / using if statement to filter the list
odd_numbers = [number for number in numbers if number % 2]
odd_numbers

[1, 3, 5, 7, 9]

In [42]:
squares = [number**2 for number in numbers]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [44]:
for square in squares:
    print(square)

0
1
4
9
16
25
36
49
64
81

In [49]:
# list mutation (changing the value + data type)
squares[5] = "125"
squares

[0, 1, 4, 9, 16, '125', 36, 49, 64, 81]

### tuple
- immutable collection