# Python Summary part 1

## Data Types

In [64]:
name = "Arthur"
age = 30 
loves_chess = True

name

'Arthur'

In [65]:
print(name)

Arthur

In [66]:
print(f"My name is {name}, I am {age} years old. Do I love chess: {loves_chess}")

My name is Arthur, I am 30 years old. Do I love chess: True

In [67]:
type(name), type(age), type(loves_chess)

(str, int, bool)

In [68]:
print(type(name), type(age), type(loves_chess))

<class 'str'> <class 'int'> <class 'bool'>

In [69]:
print(f"{type (age) =}")

type (age) =<class 'int'>

## Collection Types
- dictionary   
- list
- tuple
- set

### list

In [70]:
# list of 4 strings
interests = ["guitars", "yoga", "chess", "programming"]

# list of differnet data types
person = ["Arthur", 30, True]

interests

['guitars', 'yoga', 'chess', 'programming']

In [71]:
person

['Arthur', 30, True]

In [72]:
type(person[1])

int

In [73]:
person.append(interests)

### accessing a list

In [74]:
person[0]

'Arthur'

In [75]:
person[-1]

['guitars', 'yoga', 'chess', 'programming']

In [76]:
person[-1][2]

'chess'

### slicing a list

In [77]:
person

['Arthur', 30, True, ['guitars', 'yoga', 'chess', 'programming']]

In [78]:
person[1:3]

[30, True]

In [79]:
person[0:]

['Arthur', 30, True, ['guitars', 'yoga', 'chess', 'programming']]

In [80]:
person[1:]

[30, True, ['guitars', 'yoga', 'chess', 'programming']]

In [81]:
person[::-1]

[['guitars', 'yoga', 'chess', 'programming'], True, 30, 'Arthur']

### Iterating over lists
- for 
- while

In [82]:
# common syntax in other langages
numbers = []
for i in range(10):
    numbers.append(i)
    
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [83]:
# list comprehension
numbers = [i for i in range(10)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [84]:
# odd numbers / using if statement to filter the list
odd_numbers = [number for number in numbers if number % 2]
odd_numbers

[1, 3, 5, 7, 9]

In [85]:
squares = [number**2 for number in numbers]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [86]:
for square in squares:
    print(square)

0
1
4
9
16
25
36
49
64
81

In [87]:
# list mutation (changing the value + data type)
squares[5] = "125"
squares

[0, 1, 4, 9, 16, '125', 36, 49, 64, 81]

In [88]:
# find out memory address 
hex(id(squares))

'0x1db7e815a80'

In [89]:
squares[0] = True

In [90]:
squares

[True, 1, 4, 9, 16, '125', 36, 49, 64, 81]

In [91]:
hex(id(squares))

'0x1db7e815a80'

### tuple
- immutable collection

In [92]:
numbers = tuple(i for i in range(10))
numbers

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [93]:
# cannot mutate a tuple
numbers[5] = "123"

In [94]:
squares = tuple(number**2 for number in numbers)
squares

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

In [95]:
hex(id(numbers)), hex(id(squares))

('0x1db7e32adc0', '0x1db7e34abc0')

### set
- unique collection

In [96]:
import random as rnd

dices = [rnd.randint(1,6) for _ in range(20)]
dices

[1, 6, 3, 6, 4, 2, 1, 2, 2, 5, 3, 5, 1, 1, 2, 1, 2, 1, 4, 3]

In [97]:
unique_dices = set(dices)
unique_dices

{1, 2, 3, 4, 5, 6}

In [98]:
set2 = {1, 2, 3, 10, 15}
set2

{1, 2, 3, 10, 15}

In [99]:
unique_dices.intersection(set2), unique_dices & set2

({1, 2, 3}, {1, 2, 3})

In [100]:
unique_dices.union(set2), unique_dices | set2

({1, 2, 3, 4, 5, 6, 10, 15}, {1, 2, 3, 4, 5, 6, 10, 15})

### Dictionary
- key:value pair

In [101]:
person1 = dict(name = "Arthur", age = 30, loves_chess = True)
person1

{'name': 'Arthur', 'age': 30, 'loves_chess': True}

In [102]:
person2 = {"name":"Gabbi", "age": 32, "loves_chess": False}
person2

{'name': 'Gabbi', 'age': 32, 'loves_chess': False}

In [103]:
person1 == person2

False

iterating through dictionary

In [104]:
for key in person1:
    print(key)

name
age
loves_chess

In [105]:
for key in person1:
    print(person1[key])

Arthur
30
True

In [129]:
for key, value in person1.items():
    print(f"{key:<14} {value}")

name           Arthur
age            30
loves_chess    True

### dictionary comprehension

In [146]:
ml_terms = [
    "Supervised Learning"
    "Unsupervised Learning"
    "Feature Engineering"
    "Overfitting"
    "Cross-Validation"
]

ml_explanations = [
    "Learns from labeled data"
    "Finds pattern in unlabeled data"
    "Enhances input features for models"
    "Model fits training data to closely"
    "Evaluates model performance robustly"
]

glossary = {
    term.lower(): explanation.lower()
    for term, explanation in zip(ml_terms, ml_explanations)
}

glossary

{'supervised learningunsupervised learningfeature engineeringoverfittingcross-validation': 'learns from labeled datafinds pattern in unlabeled dataenhances input features for modelsmodel fits training data to closelyevaluates model performance robustly'}

{'Supervised LearningUnsupervised LearningFeature EngineeringOverfittingCross-Validation': 'Learns from labeled dataFinds pattern in unlabeled dataEnhances input features for modelsModel fits training data to closelyEvaluates model performance robustly'}