# Python Repitition

In [110]:
school = "Handelsakademin"
school # __repr__

'Handelsakademin'

In [111]:
type(school)

str

In [112]:
len(school)

15

In [113]:
# comma, gives a tuple
# indexing
school[0], school[-1]

('H', 'n')

In [114]:
# slicing
school[:7]

'Handels'

In [115]:
# slicing on both directions
school[3:7]

'dels'

In [116]:
# reverse
school[::-1]

'nimedakaslednaH'

"+" operator is polymorphic and it's operator overloaded in different classes

In [117]:
# Concatenation
# __add__() is implemented in str class
"NBI/" + school

'NBI/Handelsakademin'

In [118]:
neat_list = ["fruit", 89, False, [1,2,3]]
neat_list

['fruit', 89, False, [1, 2, 3]]

In [119]:
# can also concatenation
neat_list + ["Jedi", True, 1]

['fruit', 89, False, [1, 2, 3], 'Jedi', True, 1]

In [120]:
neat_list + list(("Jedi", True, 1))

['fruit', 89, False, [1, 2, 3], 'Jedi', True, 1]

In [121]:
# x = int[10]
# for (int i = 0; i<10; i++){
#     x[i] = i
# }

x = []
for i in range(11):
    x.append(i)
    
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [122]:
# more pythonic cpde
# list comprehension
x = [i for i in range(10)]
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [123]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [124]:
x = [i for i in range(10) if i%2]
x

[1, 3, 5, 7, 9]

In [125]:
x[2] = "faoshfao"
x

[1, 3, 'faoshfao', 7, 9]

### Tuple
A tuple is immutable

In [126]:
my_tuple = (2,4,5)
my_tuple

(2, 4, 5)

In [127]:
my_tuple[1]

4

In [128]:
# tuples are immutable
my_tuple[1] = 55

TypeError: 'tuple' object does not support item assignment

sets

In [ ]:
set([6,6,2,3,1])

{1, 2, 3, 6}

dictionary
- key-value pairs

In [ ]:
rabbit = {"name": "Bella", "age": 2.5, "loves_hay": True}
rabbit

{'name': 'Bella', 'age': 2.5, 'loves_hay': True}

In [ ]:
rabbit["name"], rabbit["loves_hay"]

('Bella', True)

In [ ]:
for key in rabbit:
    print(key)

name
age
loves_hay

In [ ]:
for key in rabbit:
    print(rabbit[key])

Bella
2.5
True

In [ ]:
for key, value in rabbit.items():
    print(f"{key}: {value}")

name: Bella
age: 2.5
loves_hay: True

function

In [ ]:
def squarer(number):
    return number**2

squarer(5)

25

In [ ]:
tuple(squarer(i) for i in range(10))

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

In [ ]:
# variable amount of parameters
def my_average(*numbers):
    sum_ = 0
    print(type(numbers))
    print(numbers)
    
my_average(1,2,3)

<class 'tuple'>
(1, 2, 3)

In [135]:
def my_average(*numbers):
    sum_ = 0
    for number in numbers:
        sum_ += number
    return sum_/len(numbers)

my_average(30,32,34,36)

33.0

In [133]:
x = range(10)

In [136]:
my_average(*x)

4.5

OOP

In [145]:
# defines a class (blueprint)

class Person:
    # dunder init is not a constructor in Python, but similar 
    def __init__(self, name, age) -> None:
        self.name = name
        self.age = age
        
# instantiates an instance from the class Person with arguments
p1 = Person("Ada Lovelace", 25)
p1

# dunder repr:  __repr__()

In [148]:
hex(id(p1))

'0x205819635d0'

In [149]:
p1.name, p1.age

('Ada Lovelace', 25)