# Python Repitition

In [9]:
school = "Handelsakademin"
school # __repr__

'Handelsakademin'

In [11]:
type(school)

str

In [13]:
len(school)

15

In [18]:
# comma, gives a tuple
# indexing
school[0], school[-1]

('H', 'n')

In [22]:
# slicing
school[:7]

'Handels'

In [26]:
# slicing on both directions
school[3:7]

'dels'

In [36]:
# reverse
school[::-1]

'nimedakaslednaH'

"+" operator is polymorphic and it's operator overloaded in different classes

In [40]:
# Concatenation
# __add__() is implemented in str class
"NBI/" + school

'NBI/Handelsakademin'

In [42]:
neat_list = ["fruit", 89, False, [1,2,3]]
neat_list

['fruit', 89, False, [1, 2, 3]]

In [45]:
# can also concatenation
neat_list + ["Jedi", True, 1]

['fruit', 89, False, [1, 2, 3], 'Jedi', True, 1]

In [46]:
neat_list + list(("Jedi", True, 1))

['fruit', 89, False, [1, 2, 3], 'Jedi', True, 1]

In [49]:
# x = int[10]
# for (int i = 0; i<10; i++){
#     x[i] = i
# }

x = []
for i in range(11):
    x.append(i)
    
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
# more pythonic cpde
# list comprehension
x = [i for i in range(10)]
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
x = [i for i in range(10) if i%2]
x

[1, 3, 5, 7, 9]

In [64]:
x[2] = "faoshfao"
x

[1, 3, 'faoshfao', 7, 9]

### Tuple
A tuple is immutable

In [66]:
my_tuple = (2,4,5)
my_tuple

(2, 4, 5)

In [68]:
my_tuple[1]

4

In [70]:
# tuples are immutable
my_tuple[1] = 55

NameError: name 'my_tuple' is not defined

sets

In [72]:
set([6,6,2,3,1])

{1, 2, 3, 6}

dictionary
- key-value pairs

In [76]:
rabbit = {"name": "Bella", "age": 2.5, "loves_hay": True}
rabbit

{'name': 'Bella', 'age': 2.5, 'loves_hay': True}

In [77]:
rabbit["name"], rabbit["loves_hay"]

('Bella', True)